params {
    config_profile_description = 'Alliance HPC config'
    config_profile_contact = 'https://docs.alliancecan.ca/wiki/Technical_support'
    config_profile_url = 'docs.alliancecan.ca/wiki/Nextflow'
}

// main directories
params.data_dir = "/home/fridald4/projects/def-xxxxx/fridald4/genetic_correlations/data"
params.output_dir = "/home/fridald4/projects/def-xxxxx/fridald4/genetic_correlations/results"
params.bin_dir = "/home/fridald4/projects/def-xxxxx/fridald4/genetic_correlations/bin/"

// reference data directories
params.ref_ld_chr = "/home/fridald4/projects/def-xxxxx/fridald4/genetic_correlations/data/ld_reference/g1000_eur/g1000_eur"
params.w_ld_chr = "/home/fridald4/projects/def-xxxxx/fridald4/genetic_correlations/data/ld_reference/eur_w_ld_chr"
params.hapmap_ref = "/home/fridald4/projects/def-xxxxx/fridald4/genetic_correlations/data/ld_reference/w_hm3.snplist"
params.locus_file = "/home/fridald4/projects/def-xxxxx/fridald4/genetic_correlations/data/ld_reference/blocks_s2500_EUR_chr1-23full.GRCh37_hg19.locfile"

apptainer {
  enabled = true
  autoMounts = true
  runOptions = '-B /home/fridald4/projects/def-xxxxx/fridald4/genetic_correlations/data/ld_reference/ \
                -B /home/fridald4/projects/def-xxxxx/fridald4/genetic_correlations/results/'
}

process {
  executor = 'slurm' 
  clusterOptions = '--account=def-xxxxx'
  maxRetries = 1
  errorStrategy = { task.exitStatus in [125,139] ? 'retry' : 'finish' }
  // memory = { check_max( 4.GB * task.attempt, 'memory' ) }
  memory = 10G
  cpus = 5  
  time = "1h"

  withLabel: ldsc {
    container = 'file:///home/fridald4/projects/def-xxxxx/fridald4/genetic_correlations/bin/ldsc_latest.sif'
  }

  withLabel: lava {
    memory = 10G
    time = "23h"
    cpus = 5
  }

}

executor {
  pollInterval = '60 sec'
  submitRateLimit = '60/1min'
  queueSize = 100 
}

profiles {
  beluga {
    max_memory='186G'
    max_cpu=40
    max_time='168h'
  }
  narval {
    max_memory='249G'
    max_cpu=64
    max_time='168h'
  }
}
